[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Camera Monitor
Comment=OSSS camera stream monitor
# udp://[[<source address>]@[<bind address>][:<bind port>]]
Exec=vlc --fullscreen udp://localhost:7777
StartupNotify=false
Terminal=true
Hidden=false