[Unit]
Description=Open Source Security System Monitor
Documentation=https://github.com/jyro-io/osss
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory=/opt/osss
ExecStart=/opt/osss/osss-monitor --config-file config.yaml
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=5
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target